#hr{
    display:flex;
    gap:5px;
    height:250px;
    width:100%;
}
div h1{
    margin:0;
}
div p{
    margin:0;
}
#h1{
    font-size:95px;
    margin-bottom:50px;
}
#p1{
    font-size:50px;
}
nav{
    display:flex;
    position:sticky;
    margin-bottom:40px;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
    display:flex;
    text-overflow:hidden;
    background-color:green;
    justify-content:space-around

}
ul li{
    float:left;
}
ul li a{
    display:block;
    color:black;
    padding:14px 16px;
    text-align:center;
    text-decoration:none;
}
ul li a:hover{
    background-color:white;
}
.adc{
    width:160px;
    margin:20px auto;
    padding:9px;
    background-color:#f4f6f9;
    border:1px solid #e7e8eed0;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    position:absolute;
    top:5px;
    right:20px
}
.adc audio{
    width:100%;
}
.icon{
    width:20px;
    height:18px;
    margin-left:8px;
}
#sec1{
    align-items:center;
    text-align:center;
    margin:40px auto;
    margin-bottom:200px;
}
.vdc{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
}
.vd{
    flex:1;
}
#ssec1{
    display:flex;
    justify-content:center;
    width:100%;
    text-align:left;
}
.div1{
    height:200px;
    flex:1;
    margin:0 10px;
    flex-direction:column;
    margin-left:20px;
    margin-right:20px;
}
.div1 h2{
    text-align:center;
    color:white;
    background-color:rgba(0,0,0,0.5);
    margin-top:0;
    padding:10px 0;
}
.div1 button{
    margin-left:28%;
    margin-top:50px;
    margin-bottom:10px;
    //width:100%;
    height:40px;
    font-size:20px;
    font-weight:bold;
    background-color:blue;
    color:white;
    border:none;
    cursor:pointer;
}
.div1 img{
    margin-bottom:10px;

}
img{
    max-width:280px;
    height:200px;
}
.sec2{
    margin-top:100px;
}
table{
    width:90%;
    margin:30px auto;
    border-collapse:collapse;
    font-family:arial,sans-serif;
    background-color:#ffffff;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}
thead{
    background-color:#0b5ed7;
    color:white;
}
th{
    padding:12px;
    text-align:left;
    font-size:16px;
}
td{
    padding:10px;
    border-bottom:1px solid #ddd;
    font-size:15px;
}
table, th, td {
    border:1px solid #ccc;
}
div h2{
    text-align:center;
    color:#0b5ed7;
}
.fc{
    background-color:#f4f7fc;
    padding: 40px 20px;
    margin-top:50px;
    text-align:center;
}
.fc h2{
    text-align:center;
    color:#0b5ed7;
    margin-bottom:30px;
}
.fs{
    max-width:500px;
    margin:0 auto;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 6px 12px rgba(0,0,0,0.1);
}
.fe{
    margin-bottom:10px;
}
.fe label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}
.fe input,.fe select, .fe textarea{
    width:100%;
    padding:10px;
    border:5px solid #ccc;
    border-radius:4px;
    font-size:16px;
}
.fe button{
    display:block;
    margin:20px auto;
    background-color:#0b5ed7;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    font-size:16px;
    align:center;
}

