body{
    font-style:Arial,Helvetica,sans-serif;
}
#hr{
    display:flex;
    gap:5px;
    height:250px;
    width:100%;
}
div h1{
    margin:0;
}
div p{
    margin:0;
}
#h1{
    font-size:95px;
    margin-bottom:50px;
}
#p1{
    font-size:50px;
}
nav{
    display:flex;
    position:sticky;
    margin-bottom:40px;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
    display:flex;
    text-overflow:hidden;
    background-color:green;
    justify-content:space-around

}
ul li{
    float:left;
}
ul li a{
    display:block;
    color:black;
    padding:14px 16px;
    text-align:center;
    text-decoration:none;
}
ul li a:hover{
    background-color:white;
}
ul li a.active{
    text-decoration:underline;
    font-weight:bold;
}
.adc{
    width:160px;
    margin:20px auto;
    padding:9px;
    background-color:#f4f6f9;
    border:1px solid #e7e8eed0;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    position:absolute;
    top:5px;
    right:20px
}
.adc audio{
    width:100%;
}
.icon{
    width:20px;
    height:18px;
    margin-left:8px;
}
#sec1{
    align-items:center;
    text-align:center;
    margin:40px auto;
    margin-bottom:200px;
}
.vdc{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
}
.vd{
    flex:1;
}
#ssec1{
    display:flex;
    justify-content:center;
    width:100%;
    text-align:left;
}
.div1{
    height:200px;
    flex:1;
    margin:0 10px;
    flex-direction:column;
    margin-left:20px;
    margin-right:20px;
}
.div1 h2{
    text-align:center;
    color:white;
    background-color:rgba(0,0,0,0.5);
    margin-top:0;
    padding:10px 0;
}
.div1 button{
    margin-left:28%;
    margin-top:50px;
    margin-bottom:10px;
    height:40px;
    font-size:20px;
    font-weight:bold;
    background-color:blue;
    color:white;
    border:none;
    cursor:pointer;
}
.div1 img{
    margin-bottom:10px;

}
img{
    max-width:280px;
    height:200px;
}
.sec2{
    margin-top:100px;
}
table{
    width:90%;
    margin:30px auto;
    border-collapse:collapse;
    font-family:arial,sans-serif;
    background-color:#ffffff;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}
thead{
    background-color:#0b5ed7;
    color:white;
}
th{
    padding:12px;
    text-align:left;
    font-size:16px;
}
td{
    padding:10px;
    border-bottom:1px solid #ddd;
    font-size:15px;
}
table, th, td {
    border:1px solid #ccc;
}
tr:hover{
    background-color:#f2f2f2;
}
div h2{
    text-align:center;
    color:#0b5ed7;
}
.fc{
    background-color:#f4f7fc;
    padding: 40px 30px;
    margin-top:50px;
    text-align:center;
}
.fc h2{
    text-align:center;
    color:#0b5ed7;
    margin-bottom:30px;
}
.fs{
    
    max-width:550px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 6px 12px rgba(0,0,0,0.1);
}
.fe{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}
.fe label{
    color:#333333;
    text-align:left;
    width:120px;
    margin-bottom:5px;
    font-weight:bold;
}
.fe input,.fe select, .fe textarea{
    width:400px;
    background-color:#f9fbfd;
    flex:1;
    padding:10px;
    border:5px solid #ccc;
    border-radius:4px;
    font-size:16px;
}
.fe button{
    display:block;
    margin:20px auto;
    background-color:#004aad;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    font-size:16px;
    align:center;
}
.fe button:hover{
    background-color:#163a7a;
}
.fot{
    background-color:#1f4fa3;
    color:#ffffff;
    margin-top:40px;
    border-top:3px solid #ffffff;
    line-height:1.6;
}
.foc{
    display:flex;
    justify-content:space-between;
    padding:30px 60px;
}
.fo1{
    width:30%;
}
.fo1 h3{
    margin-bottom:12px;
    color:#ffffff;
}
.fo1 p{
    font-size:14px;
    color:#e0e0e0;
}
.fo2{
    text-align:center;
    padding:12px;
    background-color:#163a7a;
    font-size:14px;
}
/*services page*/
.label-search{
    font-size:20px;
    font-weight:bold;
    margin-right:10px;
}
input[type="search"]{
    padding:8px;
    font-size:16px;
    border:2px solid #ccc;
    border-radius:4px;
    margin-right:10px;
}
.btn{
    padding:8px 16px;
    font-size:16px;
    background-color:blue;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
#search{
    width:70%;
    margin-bottom:20px;
}
.service-img{
    width:40%;
}
/*login page*/
.login-form{
    max-width:300px;
    margin:40px auto;
    padding:20px;
    border:1px solid #ccc;
    border-radius:8px;
    background-color:#f9f9f9;
}
.form-login{
    align-items:center;
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
}
.label-login{
    font-size:18px;
    margin-bottom:8px;
    font-weight:bold;
}
.btn-logic{
    background-color:blue;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
    padding:10px;
    font-size:18px;
    margin-bottom:10px;
}
.register-link{
    font-size:16px;
    text-align:center;
}